.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
}
.square {
  height: 200px;
  width: 200px;
  border: solid green 1px;
  background-image: url("black.jpg");
}

.mole {
  background-image: url("mole.jpg");
  background-size: cover;
}
