.grid {
  width: 300px;
  height: 300px;
  border: solid green 2px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.invader {
  background-color: rgb(0, 19, 128);
  border-radius: 10px;
}

.shooter {
  background-color: green;
}

.laser {
  background-color: orange;
}

.boom {
  background-color: red;
}
