 .*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #232323;
	margin: 0;
	text-align: center;
	font-family: "Avenir";

}

.Rules strong{
	color: white;
	float: left;
	line-height: 10px;
	margin: 20px 20px;
	/*padding-top: 10px;*/
	/*padding-left: 20px;*/
}
 li{
	
	text-align: left;
	color: white;
	margin: 20px 10px;
	
	/*padding-top: 40px 10px;*/
	/*float: left;*/
}
.Rules{
	font-weight: 30px;
}


#container{
	margin: 0px auto;
	max-width: 600px ;
	/*padding-left: 150px;*/
	/*padding-top: 25px;*/
	
}
table{
	border-collapse: separate;
	border-spacing: 2px;

}

td{

	padding-left: 5px;
	width:100px;
	height: 100px;
	/*margin: px;*/
	float: top;
	/*border: 1px solid black;*/
	border: 5px solid #232323;
	border-radius: 15px;
	background-color: white;
	transition: background 0.5s;
	-webkit-transition:background 0.5s;
	-moz-transition:background 0.5s;

}


.heading {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ed3868;
	text-align: center;
	color: white;
	

}
.select{
	text-align: center;
	background-color: white;
	margin: 0;
	height: 30px;
}
h1{
	margin: 0;
	text-transform: uppercase;
	line-height: 0.5;
	font-size: 60px;
	font-weight: normal;
}
span{
	background-color: white;
}

.selected
{
	margin: 0;
	height: 30px;
	background-color: #ed3868;
	color: white;
}


h3{
	font-size: 25px;
	font-weight: normal;

}

button{
	margin: 0;
	border: none;
	padding-bottom: 0px;
	background-color: none;
	height: 100%;
	font-weight: 700;
	color:#ed3868;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.4s;
	outline: none;
}

#message{
	display: inline-block;
	width: 20%;
}

.row1 .row2 {
	margin-bottom: 20px;
}
button:hover{
	color: white;
	background-color: #ed3868;

}

.Display{
	float: left;
	display: inline-flex;
	margin: 0 0px;
}








